-f https://download.pytorch.org/whl/torch_stable.html
autoflake==2.2.0
autoflake==2.2.0
boto3
ctransformers==0.2.13
faiss-cpu==1.7.4
ipykernel
ipython==8.12
isort==5.12.0
langchain==0.0.233
pre-commit==3.3.3
python-dotenv==1.0.0
sentence-transformers==2.2.2
streamlit==1.25.0
streamlit-chat==0.1.1
torch==1.11.0+cpu
torchvision==0.12.0+cpu
unstructured
urllib3==1.26.6
